@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to training</h1>
    <p class="lead">Let's put this website on Azure Web App service.</p>
    <p><a href="http://azure.microsoft.com/en-us/services/app-service/web/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>Deploy this application to Azure Web Apps service.</p>
        <ul>
            <li>Create Web App.</li>
            <li>Setup deployment.</li>
            <li>Deploy.</li>
        </ul>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/app-service-web-overview/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Create Azure SQL Database.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/sql-database-get-started/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>Configure Web App to use created database.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/web-sites-configure/">Learn more &raquo;</a></p>
    </div>
</div>